$green-beige: #bebd7f;
$beige: #c2b078;
$sand-yellow: #c6a664;
$signal-yellow: #e5be01;
$golden-yellow: #cda434;
$honey-yellow: #a98307;
$maize-yellow: #e4a010;
$daffodil-yellow: #dc9d00;
$brown-beige: #8a6642;
$lemon-yellow: #c7b446;
$oyster-white: #eae6ca;
$ivory: #e1cc4f;
$light-ivory: #e6d690;
$sulfur-yellow: #edff21;
$saffron-yellow: #f5d033;
$zinc-yellow: #f8f32b;
$grey-beige: #9e9764;
$olive-yellow: #999950;
$rape-yellow: #f3da0b;
$traffic-yellow: #fad201;
$ochre-yellow: #aea04b;
$luminous-yellow: #ffff00;
$curry: #9d9101;
$melon-yellow: #f4a900;
$broom-yellow: #d6ae01;
$dahlia-yellow: #f3a505;
$pastel-yellow: #efa94a;
$pearl-beige: #6a5d4d;
$pearl-gold: #705335;
$sun-yellow: #f39f18;
$yellow-orange: #ed760e;
$red-orange: #c93c20;
$vermilion: #cb2821;
$pastel-orange: #ff7514;
$pure-orange: #f44611;
$luminous-orange: #ff2301;
$luminous-bright-orange: #ffa420;
$bright-red-orange: #f75e25;
$traffic-orange: #f54021;
$signal-orange: #d84b20;
$deep-orange: #ec7c26;
$salmon-range: #e55137;
$pearl-orange: #c35831;
$flame-red: #af2b1e;
$signal-red: #a52019;
$carmine-red: #a2231d;
$ruby-red: #9b111e;
$purple-red: #75151e;
$wine-red: #5e2129;
$black-red: #412227;
$oxide-red: #642424;
$brown-red: #781f19;
$beige-red: #c1876b;
$tomato-red: #a12312;
$antique-pink: #d36e70;
$light-pink: #ea899a;
$coral-red: #b32821;
$rose: #e63244;
$strawberry-red: #d53032;
$traffic-red: #cc0605;
$salmon-pink: #d95030;
$luminous-red: #f80000;
$luminous-bright-red: #fe0000;
$raspberry-red: #c51d34;
$pure--red: #cb3234;
$orient-red: #b32428;
$pearl-ruby-red: #721422;
$pearl-pink: #b44c43;
$red-lilac: #6d3f5b;
$red-violet: #922b3e;
$heather-violet: #de4c8a;
$claret-violet: #641c34;
$blue-lilac: #6c4675;
$traffic-purple: #a03472;
$purple-violet: #4a192c;
$signal-violet: #924e7d;
$pastel-violet: #a18594;
$telemagenta: #cf3476;
$pearl-violet: #8673a1;
$pearl-black-berry: #6c6874;
$violet-blue: #354d73;
$green-blue: #1f3438;
$ultramarine-blue: #20214f;
$saphire-blue: #1d1e33;
$black-blue: #18171c;
$signal-blue: #1e2460;
$brillant-blue: #3e5f8a;
$grey-blue: #26252d;
$azure-blue: #025669;
$gentian-blue: #0e294b;
$steel-blue: #231a24;
$light-blue: #3b83bd;
$cobalt-blue: #1e213d;
$pigeon-blue: #606e8c;
$sky-blue: #2271b3;
$traffic-blue: #063971;
$turquoise-blue: #3f888f;
$capri-blue: #1b5583;
$ocean-blue: #1d334a;
$water-blue: #256d7b;
$night-blue: #252850;
$distant-blue: #49678d;
$pastel-blue: #5d9b9b;
$pearl-gentian-blue: #2a6478;
$pearl-night-blue: #102c54;
$patina-green: #316650;
$emerald-green: #287233;
$leaf-green: #2d572c;
$olive-green: #424632;
$blue-green: #1f3a3d;
$moss-green: #2f4538;
$grey-olive: #3e3b32;
$bottle-green: #343b29;
$brown-green: #39352a;
$fir-green: #31372b;
$grass-green: #35682d;
$reseda-green: #587246;
$black-green: #343e40;
$reed-green: #6c7156;
$yellow-olive: #47402e;
$black-olive: #3b3c36;
$turquoise-green: #1e5945;
$may-green: #4c9141;
$yellow-green: #57a639;
$pastel-green: #bdecb6;
$chrome-green: #2e3a23;
$pale-green: #89ac76;
$olive-drab: #25221b;
$traffic-green: #308446;
$fern-green: #3d642d;
$opal-green: #015d52;
$light-green: #84c3be;
$pine-green: #2c5545;
$mint-green: #20603d;
$signal-green: #317f43;
$mint-turquoise: #497e76;
$pastel-turquoise: #7fb5b5;
$pearl-green: #1c542d;
$pearl-opal-green: #193737;
$pure-green: #008f39;
$luminous-green: #00bb2d;
$squirrel-grey: #78858b;
$silver-grey: #8a9597;
$olive-grey: #7e7b52;
$moss-grey: #6c7059;
$signal-grey: #969992;
$mouse-grey: #646b63;
$beige-grey: #6d6552;
$khaki-grey: #6a5f31;
$green-grey: #4d5645;
$tarpaulin-grey: #4c514a;
$iron-grey: #434b4d;
$basalt-grey: #4e5754;
$brown-grey: #464531;
$slate-grey: #434750;
$anthracite-grey: #293133;
$black-grey: #23282b;
$umbra-grey: #332f2c;
$concrete-grey: #686c5e;
$graphite-grey: #474a51;
$granite-grey: #2f353b;
$stone-grey: #8b8c7a;
$blue-grey: #474b4e;
$pebble-grey: #b8b799;
$cement-grey: #7d8471;
$yellow-grey: #8f8b66;
$light-grey: #d7d7d7;
$platinum-grey: #7f7679;
$dusty-grey: #7d7f7d;
$agate-grey: #b5b8b1;
$quartz-grey: #6c6960;
$window-grey: #9da1aa;
$traffic-grey-a: #8d948d;
$traffic-grey-b: #4e5452;
$silk-grey: #cac4b0;
$telegrey-1: #909090;
$telegrey-2: #82898f;
$telegrey-4: #d0d0d0;
$pearl-mouse-grey: #898176;
$green-brown: #826c34;
$ochre-brown: #955f20;
$signal-brown: #6c3b2a;
$clay-brown: #734222;
$copper-brown: #8e402a;
$fawn-brown: #59351f;
$olive-brown: #6f4f28;
$nut-brown: #5b3a29;
$red-brown: #592321;
$sepia-brown: #382c1e;
$chestnut-brown: #633a34;
$mahogany-brown: #4c2f27;
$chocolate-brown: #45322e;
$grey-brown: #403a3a;
$black-brown: #212121;
$orange-brown: #a65e2e;
$beige-brown: #79553d;
$pale-brown: #755c48;
$terra-brown: #4e3b31;
$pearl-copper: #763c28;
$cream: #fdf4e3;
$grey-white: #e7ebda;
$signal-white: #f4f4f4;
$signal-black: #282828;
$jet-black: #0a0a0a;
$white-aluminium: #a5a5a5;
$grey-aluminium: #8f8f8f;
$pure-white: #ffffff;
$graphite-black: #1c1c1c;
$traffic-white: #f6f6f6;
$traffic-black: #1e1e1e;
$papyrus-white: #d7d7d7;
$pearl-light-grey: #9c9c9c;
$pearl-dark-grey: #828282;
