@import "jason-colours";

* {margin:0; padding:0;}
body {font-size:14px; font-family:"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;}
p {padding:0 1em 1em; font-size:1.4em; font-weight:300;
  &:first-child {padding:4em 0.8em 0.8em; font-size:1.8em;}
}
a {color:#b33; text-decoration:none;
  &:hover {text-decoration:underline;}
}
div {margin:0 auto; width:100%;}
span {font-weight:400; display:block;
  b {padding:1.4em; display:block; font-weight:300;}
  &.green-beige {color:#fff; background-color:$green-beige;}
  &.beige {color:#fff; background-color:$beige;}
  &.sand-yellow {color:#fff; background-color:$sand-yellow;}
  &.signal-yellow {color:#fff; background-color:$signal-yellow;}
  &.golden-yellow {color:#fff; background-color:$golden-yellow;}
  &.honey-yellow {color:#fff; background-color:$honey-yellow;}
  &.maize-yellow {color:#fff; background-color:$maize-yellow;}
  &.daffodil-yellow {color:#fff; background-color:$daffodil-yellow;}
  &.brown-beige {color:#fff; background-color:$brown-beige;}
  &.lemon-yellow {color:#fff; background-color:$lemon-yellow;}
  &.oyster-white {color:#000; background-color:$oyster-white;}
  &.ivory {color:#fff; background-color:$ivory;}
  &.light-ivory {color:#fff; background-color:$light-ivory;}
  &.sulfur-yellow {color:#000; background-color:$sulfur-yellow;}
  &.saffron-yellow {color:#fff; background-color:$saffron-yellow;}
  &.zinc-yellow {color:#000; background-color:$zinc-yellow;}
  &.grey-beige {color:#fff; background-color:$grey-beige;}
  &.olive-yellow {color:#fff; background-color:$olive-yellow;}
  &.rape-yellow {color:#fff; background-color:$rape-yellow;}
  &.traffic-yellow {color:#fff; background-color:$traffic-yellow;}
  &.ochre-yellow {color:#fff; background-color:$ochre-yellow;}
  &.luminous-yellow {color:#000; background-color:$luminous-yellow;}
  &.curry {color:#fff; background-color:$curry;}
  &.melon-yellow {color:#fff; background-color:$melon-yellow;}
  &.broom-yellow {color:#fff; background-color:$broom-yellow;}
  &.dahlia-yellow {color:#fff; background-color:$dahlia-yellow;}
  &.pastel-yellow {color:#fff; background-color:$pastel-yellow;}
  &.pearl-beige {color:#fff; background-color:$pearl-beige;}
  &.pearl-gold {color:#fff; background-color:$pearl-gold;}
  &.sun-yellow {color:#fff; background-color:$sun-yellow;}
  &.yellow-orange {color:#fff; background-color:$yellow-orange;}
  &.red-orange {color:#fff; background-color:$red-orange;}
  &.vermilion {color:#fff; background-color:$vermilion;}
  &.pastel-orange {color:#fff; background-color:$pastel-orange;}
  &.pure-orange {color:#fff; background-color:$pure-orange;}
  &.luminous-orange {color:#fff; background-color:$luminous-orange;}
  &.luminous-bright-orange {color:#fff; background-color:$luminous-bright-orange;}
  &.bright-red-orange {color:#fff; background-color:$bright-red-orange;}
  &.traffic-orange {color:#fff; background-color:$traffic-orange;}
  &.signal-orange {color:#fff; background-color:$signal-orange;}
  &.deep-orange {color:#fff; background-color:$deep-orange;}
  &.salmon-range {color:#fff; background-color:$salmon-range;}
  &.pearl-orange {color:#fff; background-color:$pearl-orange;}
  &.flame-red {color:#fff; background-color:$flame-red;}
  &.signal-red {color:#fff; background-color:$signal-red;}
  &.carmine-red {color:#fff; background-color:$carmine-red;}
  &.ruby-red {color:#fff; background-color:$ruby-red;}
  &.purple-red {color:#fff; background-color:$purple-red;}
  &.wine-red {color:#fff; background-color:$wine-red;}
  &.black-red {color:#fff; background-color:$black-red;}
  &.oxide-red {color:#fff; background-color:$oxide-red;}
  &.brown-red {color:#fff; background-color:$brown-red;}
  &.beige-red {color:#fff; background-color:$beige-red;}
  &.tomato-red {color:#fff; background-color:$tomato-red;}
  &.antique-pink {color:#fff; background-color:$antique-pink;}
  &.light-pink {color:#fff; background-color:$light-pink;}
  &.coral-red {color:#fff; background-color:$coral-red;}
  &.rose {color:#fff; background-color:$rose;}
  &.strawberry-red {color:#fff; background-color:$strawberry-red;}
  &.traffic-red {color:#fff; background-color:$traffic-red;}
  &.salmon-pink {color:#fff; background-color:$salmon-pink;}
  &.luminous-red {color:#fff; background-color:$luminous-red;}
  &.luminous-bright-red {color:#fff; background-color:$luminous-bright-red;}
  &.raspberry-red {color:#fff; background-color:$raspberry-red;}
  &.pure--red {color:#fff; background-color:$pure--red;}
  &.orient-red {color:#fff; background-color:$orient-red;}
  &.pearl-ruby-red {color:#fff; background-color:$pearl-ruby-red;}
  &.pearl-pink {color:#fff; background-color:$pearl-pink;}
  &.red-lilac {color:#fff; background-color:$red-lilac;}
  &.red-violet {color:#fff; background-color:$red-violet;}
  &.heather-violet {color:#fff; background-color:$heather-violet;}
  &.claret-violet {color:#fff; background-color:$claret-violet;}
  &.blue-lilac {color:#fff; background-color:$blue-lilac;}
  &.traffic-purple {color:#fff; background-color:$traffic-purple;}
  &.purple-violet {color:#fff; background-color:$purple-violet;}
  &.signal-violet {color:#fff; background-color:$signal-violet;}
  &.pastel-violet {color:#fff; background-color:$pastel-violet;}
  &.telemagenta {color:#fff; background-color:$telemagenta;}
  &.pearl-violet {color:#fff; background-color:$pearl-violet;}
  &.pearl-black-berry {color:#fff; background-color:$pearl-black-berry;}
  &.violet-blue {color:#fff; background-color:$violet-blue;}
  &.green-blue {color:#fff; background-color:$green-blue;}
  &.ultramarine-blue {color:#fff; background-color:$ultramarine-blue;}
  &.saphire-blue {color:#fff; background-color:$saphire-blue;}
  &.black-blue {color:#fff; background-color:$black-blue;}
  &.signal-blue {color:#fff; background-color:$signal-blue;}
  &.brillant-blue {color:#fff; background-color:$brillant-blue;}
  &.grey-blue {color:#fff; background-color:$grey-blue;}
  &.azure-blue {color:#fff; background-color:$azure-blue;}
  &.gentian-blue {color:#fff; background-color:$gentian-blue;}
  &.steel-blue {color:#fff; background-color:$steel-blue;}
  &.light-blue {color:#fff; background-color:$light-blue;}
  &.cobalt-blue {color:#fff; background-color:$cobalt-blue;}
  &.pigeon-blue {color:#fff; background-color:$pigeon-blue;}
  &.sky-blue {color:#fff; background-color:$sky-blue;}
  &.traffic-blue {color:#fff; background-color:$traffic-blue;}
  &.turquoise-blue {color:#fff; background-color:$turquoise-blue;}
  &.capri-blue {color:#fff; background-color:$capri-blue;}
  &.ocean-blue {color:#fff; background-color:$ocean-blue;}
  &.water-blue {color:#fff; background-color:$water-blue;}
  &.night-blue {color:#fff; background-color:$night-blue;}
  &.distant-blue {color:#fff; background-color:$distant-blue;}
  &.pastel-blue {color:#fff; background-color:$pastel-blue;}
  &.pearl-gentian-blue {color:#fff; background-color:$pearl-gentian-blue;}
  &.pearl-night-blue {color:#fff; background-color:$pearl-night-blue;}
  &.patina-green {color:#fff; background-color:$patina-green;}
  &.emerald-green {color:#fff; background-color:$emerald-green;}
  &.leaf-green {color:#fff; background-color:$leaf-green;}
  &.olive-green {color:#fff; background-color:$olive-green;}
  &.blue-green {color:#fff; background-color:$blue-green;}
  &.moss-green {color:#fff; background-color:$moss-green;}
  &.grey-olive {color:#fff; background-color:$grey-olive;}
  &.bottle-green {color:#fff; background-color:$bottle-green;}
  &.brown-green {color:#fff; background-color:$brown-green;}
  &.fir-green {color:#fff; background-color:$fir-green;}
  &.grass-green {color:#fff; background-color:$grass-green;}
  &.reseda-green {color:#fff; background-color:$reseda-green;}
  &.black-green {color:#fff; background-color:$black-green;}
  &.reed-green {color:#fff; background-color:$reed-green;}
  &.yellow-olive {color:#fff; background-color:$yellow-olive;}
  &.black-olive {color:#fff; background-color:$black-olive;}
  &.turquoise-green {color:#fff; background-color:$turquoise-green;}
  &.may-green {color:#fff; background-color:$may-green;}
  &.yellow-green {color:#fff; background-color:$yellow-green;}
  &.pastel-green {color:#000; background-color:$pastel-green;}
  &.chrome-green {color:#fff; background-color:$chrome-green;}
  &.pale-green {color:#fff; background-color:$pale-green;}
  &.olive-drab {color:#fff; background-color:$olive-drab;}
  &.traffic-green {color:#fff; background-color:$traffic-green;}
  &.fern-green {color:#fff; background-color:$fern-green;}
  &.opal-green {color:#fff; background-color:$opal-green;}
  &.light-green {color:#fff; background-color:$light-green;}
  &.pine-green {color:#fff; background-color:$pine-green;}
  &.mint-green {color:#fff; background-color:$mint-green;}
  &.signal-green {color:#fff; background-color:$signal-green;}
  &.mint-turquoise {color:#fff; background-color:$mint-turquoise;}
  &.pastel-turquoise {color:#fff; background-color:$pastel-turquoise;}
  &.pearl-green {color:#fff; background-color:$pearl-green;}
  &.pearl-opal-green {color:#fff; background-color:$pearl-opal-green;}
  &.pure-green {color:#fff; background-color:$pure-green;}
  &.luminous-green {color:#fff; background-color:$luminous-green;}
  &.squirrel-grey {color:#fff; background-color:$squirrel-grey;}
  &.silver-grey {color:#fff; background-color:$silver-grey;}
  &.olive-grey {color:#fff; background-color:$olive-grey;}
  &.moss-grey {color:#fff; background-color:$moss-grey;}
  &.signal-grey {color:#fff; background-color:$signal-grey;}
  &.mouse-grey {color:#fff; background-color:$mouse-grey;}
  &.beige-grey {color:#fff; background-color:$beige-grey;}
  &.khaki-grey {color:#fff; background-color:$khaki-grey;}
  &.green-grey {color:#fff; background-color:$green-grey;}
  &.tarpaulin-grey {color:#fff; background-color:$tarpaulin-grey;}
  &.iron-grey {color:#fff; background-color:$iron-grey;}
  &.basalt-grey {color:#fff; background-color:$basalt-grey;}
  &.brown-grey {color:#fff; background-color:$brown-grey;}
  &.slate-grey {color:#fff; background-color:$slate-grey;}
  &.anthracite-grey {color:#fff; background-color:$anthracite-grey;}
  &.black-grey {color:#fff; background-color:$black-grey;}
  &.umbra-grey {color:#fff; background-color:$umbra-grey;}
  &.concrete-grey {color:#fff; background-color:$concrete-grey;}
  &.graphite-grey {color:#fff; background-color:$graphite-grey;}
  &.granite-grey {color:#fff; background-color:$granite-grey;}
  &.stone-grey {color:#fff; background-color:$stone-grey;}
  &.blue-grey {color:#fff; background-color:$blue-grey;}
  &.pebble-grey {color:#fff; background-color:$pebble-grey;}
  &.cement-grey {color:#fff; background-color:$cement-grey;}
  &.yellow-grey {color:#fff; background-color:$yellow-grey;}
  &.light-grey {color:#000; background-color:$light-grey;}
  &.platinum-grey {color:#fff; background-color:$platinum-grey;}
  &.dusty-grey {color:#fff; background-color:$dusty-grey;}
  &.agate-grey {color:#fff; background-color:$agate-grey;}
  &.quartz-grey {color:#fff; background-color:$quartz-grey;}
  &.window-grey {color:#fff; background-color:$window-grey;}
  &.traffic-grey-a {color:#fff; background-color:$traffic-grey-a;}
  &.traffic-grey-b {color:#fff; background-color:$traffic-grey-b;}
  &.silk-grey {color:#fff; background-color:$silk-grey;}
  &.telegrey-1 {color:#fff; background-color:$telegrey-1;}
  &.telegrey-2 {color:#fff; background-color:$telegrey-2;}
  &.telegrey-4 {color:#000; background-color:$telegrey-4;}
  &.pearl-mouse-grey {color:#fff; background-color:$pearl-mouse-grey;}
  &.green-brown {color:#fff; background-color:$green-brown;}
  &.ochre-brown {color:#fff; background-color:$ochre-brown;}
  &.signal-brown {color:#fff; background-color:$signal-brown;}
  &.clay-brown {color:#fff; background-color:$clay-brown;}
  &.copper-brown {color:#fff; background-color:$copper-brown;}
  &.fawn-brown {color:#fff; background-color:$fawn-brown;}
  &.olive-brown {color:#fff; background-color:$olive-brown;}
  &.nut-brown {color:#fff; background-color:$nut-brown;}
  &.red-brown {color:#fff; background-color:$red-brown;}
  &.sepia-brown {color:#fff; background-color:$sepia-brown;}
  &.chestnut-brown {color:#fff; background-color:$chestnut-brown;}
  &.mahogany-brown {color:#fff; background-color:$mahogany-brown;}
  &.chocolate-brown {color:#fff; background-color:$chocolate-brown;}
  &.grey-brown {color:#fff; background-color:$grey-brown;}
  &.black-brown {color:#fff; background-color:$black-brown;}
  &.orange-brown {color:#fff; background-color:$orange-brown;}
  &.beige-brown {color:#fff; background-color:$beige-brown;}
  &.pale-brown {color:#fff; background-color:$pale-brown;}
  &.terra-brown {color:#fff; background-color:$terra-brown;}
  &.pearl-copper {color:#fff; background-color:$pearl-copper;}
  &.cream {color:#000; background-color:$cream;}
  &.grey-white {color:#000; background-color:$grey-white;}
  &.signal-white {color:#000; background-color:$signal-white;}
  &.signal-black {color:#fff; background-color:$signal-black;}
  &.jet-black {color:#fff; background-color:$jet-black;}
  &.white-aluminium {color:#fff; background-color:$white-aluminium;}
  &.grey-aluminium {color:#fff; background-color:$grey-aluminium;}
  &.pure-white {color:#000; background-color:$pure-white;}
  &.graphite-black {color:#fff; background-color:$graphite-black;}
  &.traffic-white {color:#000; background-color:$traffic-white;}
  &.traffic-black {color:#fff; background-color:$traffic-black;}
  &.papyrus-white {color:#000; background-color:$papyrus-white;}
  &.pearl-light-grey {color:#fff; background-color:$pearl-light-grey;}
  &.pearl-dark-grey {color:#fff; background-color:$pearl-dark-grey;}
}
