<html ng-app>
<head>
	<title>Descriptive Sass Variables</title>
	<link rel="stylesheet" media="screen" href="site.css"><b>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="colours.js"></script>
</head>
<body>
<div ng-controller="ColourCtrl">
	<p>The colours below are <a href="https://github.com/waitingallday/jason-colours/blob/master/scss/jason-colours.scss">actual RAL values</a> as provided on their site, but the real goal here is to provide a standard set of semi-descriptive labels for variables.</p>
	<p>So why not use the <a href="http://xona.com/colorlist/">xona.com list</a>? I guess I like these names better. Sort by <a href="" ng-click="predicate='ral'; rorder=!rorder; reverse=rorder">RAL#</a>, <a href="" ng-click="predicate='label'; lorder=!lorder; reverse=lorder">name</a> or <a href="" ng-click="predicate='rgb'; horder=!horder; reverse=horder">luminosity</a>.</p>
	<span ng-repeat="colour in colours | orderBy:predicate:reverse" class="{{colour.label}}" title="{{colour.hex}}">
		<b>${{colour.label}}</b>
	</span>
</div>
</body>
</html>
